@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    /*font-family: "Caveat", cursive;*/
    /*font-family: "Amatic SC", sans-serif;*/
    font-family: "Pangolin", cursive;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    min-height: 100vh;
    scrollbar-gutter: stable;
}
:root {
    --radius: 20px;
    --main-color: rgb(232, 197, 76);
    --border-color: rgb(182, 148, 37);
    --transition: .4s;
    --health-color: rgb(72, 6, 7);
    --health-empty-color: rgb(144, 0, 32);
    --food-color: rgb(54, 77, 29);
    --food-empty-color: rgb(68, 148, 74);
    --water-color: rgb(66, 170, 255);
    --water-empty-color: rgb(171, 205, 239);
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgb(245,238,205);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(243, 219, 119);
    border-radius: var(--radius);
}
button {
    font-family: inherit;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
picture {
    display: flex;
}

a, span, p, li {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: 120%;
    font-family: inherit;
    font-weight: inherit;
}

.main__texture {
    background: url("../images/textures/main-texture.png") center no-repeat;
    background-size: cover;
    border: 1px solid var(--border-color);
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
}
._big {
    font-size: 28px;
}
._little {
    font-size: 16px;
}
._tiny {
    font-size: 10px;
}
._hidden {
    opacity: 0;
}
._pointer {
    cursor: pointer;
}

._red {
    color: rgb(255, 69, 0);
}
._orange {
    color: rgb(255, 140, 0);
}
._green {
    color: rgb(34, 139, 34);
}

.main__btn {
    background: url("../images/textures/main-texture.png");
    border: 1px solid var(--border-color);
}
.main__btn._lil {
    padding: 5px 10px;
    border-radius: 0 0 calc(var(--radius) / 2) calc(var(--radius) / 2);
    border-top: none;
}