@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    font-family: "Pangolin", cursive;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    min-height: 100vh;
    scrollbar-gutter: stable;
}
:root {
    --radius: 18px;
    --radius-half: 9px;
    --main-color: rgb(232, 197, 76);
    --border-color: rgb(182, 148, 37);
    --transition: .4s;
    --health-color: rgb(72, 6, 7);
    --health-empty-color: rgb(144, 0, 32);
    --food-color: rgb(54, 77, 29);
    --food-empty-color: rgb(68, 148, 74);
    --water-color: rgb(66, 170, 255);
    --water-empty-color: rgb(171, 205, 239);
    --gap: 12px;
    --gap-half: 6px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgb(245,238,205);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(243, 219, 119);
    border-radius: var(--radius);
}
button {
    font-family: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
picture {
    display: flex;
}
picture:not(.map__picture) img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a, span, p, li {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: 120%;
    font-family: inherit;
    font-weight: inherit;
}

.main__texture {
    background: url("../images/textures/main-texture.png") center no-repeat;
    background-size: cover;
    border: 1px solid var(--border-color);
}
._hidden {
    opacity: 0;
}
._red {
    color: rgb(255, 69, 0);
}
._orange {
    color: rgb(255, 140, 0);
}
._green {
    color: rgb(34, 139, 34);
}
._big {
    font-size: 28px;
}
._little {
    font-size: 16px;
}
._tiny {
    font-size: 10px;
}
._pointer {
    cursor: pointer;
}
._unseen {
    position: absolute;
    top: 80%;
    right: 0;
    background-color: rgb(34, 139, 34);
    color: rgb(255,255,255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    line-height: 100%;
}

.main__btn {
    background: url("../images/textures/main-texture.png");
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}
.main__btn._lil {
    padding: var(--gap-half) var(--gap);
    border-radius: 0 0 var(--radius-half) var(--radius-half);
    border-top: none;
}
.window__close {
    position: absolute;
    top: var(--gap-half);
    left: var(--gap-half);
    cursor: pointer;
}
.container._flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: 100%;
    overflow: auto;
}