@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    font-family: "Caveat", cursive;
}
:root {
    --radius: 20px;
    --main-color: rgb(232, 197, 76);
    --border-color: rgb(182, 148, 37);
    --transition: .4s;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgb(245,238,205);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(243, 219, 119);
    border-radius: var(--radius);
}
button {
    font-family: inherit;
}



ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
picture {
    display: flex;
}

.main__texture {
    background: url("../../assets/images/textures/UI-unit-texture.png") center no-repeat;
    background-size: cover;
    border: 1px solid rgb(239, 228, 176);
}
.h2__header {
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: .2px;
    font-weight: 600;
    -webkit-box-shadow: 0 11px 19px 9px rgba(246, 214, 85, 0.24);
    -moz-box-shadow: 0 11px 19px 9px rgba(246, 214, 85, 0.24);
    box-shadow: 0 11px 19px 9px rgba(246, 214, 85, 0.24);
}
.main__text {
    font-size: 24px;
    line-height: 100%;
}
.main__text._little {
    font-size: 20px;
}
._nonVisible {
    opacity: 0;
}
._hidden {
    opacity: 0;
}
._green {
    color: seagreen;
}
._red {
    color: red;
}

.main__btn {
    background: url("../images/textures/UI-unit-texture.png");
    padding: 5px 20px;
    font-size: 26px;
    cursor: pointer;
    border-radius: var(--radius);
    text-decoration: none;
    border: 1px solid var(--border-color);
}